@font-face {
  font-family: "FoodIcon";
  src: url("../fonts/FoodIcon.woff2?dc89e4a2f0b35db3b908e28ac3abbe3f") format("woff2"), url("../fonts/FoodIcon.ttf?dc89e4a2f0b35db3b908e28ac3abbe3f") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class^="food-icon-"]:before,
[class*=" food-icon-"]:before {
  font-family: "FoodIcon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.food-icon-download:before {
  content: "\e900";
}
.food-icon-edit:before {
  content: "\e901";
}
.food-icon-export-pdf:before {
  content: "\e902";
}
.food-icon-export-xlsx:before {
  content: "\e903";
}
.food-icon-export:before {
  content: "\e904";
}
.food-icon-file-:before {
  content: "\e905";
}
.food-icon-file-pdf:before {
  content: "\e906";
}
.food-icon-file-xlsx:before {
  content: "\e907";
}
.food-icon-file:before {
  content: "\e908";
}
.food-icon-first:before {
  content: "\e909";
}
.food-icon-flopy-save:before {
  content: "\e90a";
}
.food-icon-folder-open-o:before {
  content: "\e90b";
}
.food-icon-folder-open:before {
  content: "\e90c";
}
.food-icon-github:before {
  content: "\e90d";
}
.food-icon-last:before {
  content: "\e90e";
}
.food-icon-lists:before {
  content: "\e90f";
}
.food-icon-new-window:before {
  content: "\e910";
}
.food-icon-next:before {
  content: "\e911";
}
.food-icon-prev:before {
  content: "\e912";
}
.food-icon-print:before {
  content: "\e913";
}
.food-icon-tasks:before {
  content: "\e914";
}
.food-icon-tools:before {
  content: "\e915";
}
.food-icon-trash:before {
  content: "\e916";
}
