@food-icon-download: "\e900";
@food-icon-edit: "\e901";
@food-icon-export-pdf: "\e902";
@food-icon-export-xlsx: "\e903";
@food-icon-export: "\e904";
@food-icon-file-: "\e905";
@food-icon-file-pdf: "\e906";
@food-icon-file-xlsx: "\e907";
@food-icon-file: "\e908";
@food-icon-first: "\e909";
@food-icon-flopy-save: "\e90a";
@food-icon-folder-open-o: "\e90b";
@food-icon-folder-open: "\e90c";
@food-icon-last: "\e90d";
@food-icon-lists: "\e90e";
@food-icon-new-window: "\e90f";
@food-icon-next: "\e910";
@food-icon-prev: "\e911";
@food-icon-print: "\e912";
@food-icon-tasks: "\e913";
@food-icon-tools: "\e914";
@food-icon-trash: "\e915";

@font-face {
	font-family:"FoodIcon";
	src:url("../fonts/FoodIcon.woff2?340a8f974ce37df777c24872b2560ad0") format("woff2"),
		url("../fonts/FoodIcon.ttf?340a8f974ce37df777c24872b2560ad0") format("truetype");
	font-weight:normal;
	font-style:normal;
	font-display: swap;
}

[class^="food-icon-"]:before,
[class*=" food-icon-"]:before {
	font-family: "FoodIcon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.food-icon-download {
	&:before {
		content: @food-icon-download;
	}
}
.food-icon-edit {
	&:before {
		content: @food-icon-edit;
	}
}
.food-icon-export-pdf {
	&:before {
		content: @food-icon-export-pdf;
	}
}
.food-icon-export-xlsx {
	&:before {
		content: @food-icon-export-xlsx;
	}
}
.food-icon-export {
	&:before {
		content: @food-icon-export;
	}
}
.food-icon-file- {
	&:before {
		content: @food-icon-file-;
	}
}
.food-icon-file-pdf {
	&:before {
		content: @food-icon-file-pdf;
	}
}
.food-icon-file-xlsx {
	&:before {
		content: @food-icon-file-xlsx;
	}
}
.food-icon-file {
	&:before {
		content: @food-icon-file;
	}
}
.food-icon-first {
	&:before {
		content: @food-icon-first;
	}
}
.food-icon-flopy-save {
	&:before {
		content: @food-icon-flopy-save;
	}
}
.food-icon-folder-open-o {
	&:before {
		content: @food-icon-folder-open-o;
	}
}
.food-icon-folder-open {
	&:before {
		content: @food-icon-folder-open;
	}
}
.food-icon-last {
	&:before {
		content: @food-icon-last;
	}
}
.food-icon-lists {
	&:before {
		content: @food-icon-lists;
	}
}
.food-icon-new-window {
	&:before {
		content: @food-icon-new-window;
	}
}
.food-icon-next {
	&:before {
		content: @food-icon-next;
	}
}
.food-icon-prev {
	&:before {
		content: @food-icon-prev;
	}
}
.food-icon-print {
	&:before {
		content: @food-icon-print;
	}
}
.food-icon-tasks {
	&:before {
		content: @food-icon-tasks;
	}
}
.food-icon-tools {
	&:before {
		content: @food-icon-tools;
	}
}
.food-icon-trash {
	&:before {
		content: @food-icon-trash;
	}
}
